<% include partials/header %>

<body>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">About</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src=" images/code.jpg" border="0" alt="">
                    </div>
                        <div class="typewriter">
                            <h2 style="padding: 50px 100px 30px 0px;"> 
                                A Little About Me...
                            </h2>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding" style="background-color:#FAB2FA">
                            <h3 style="padding-left: 80px;">A boy with a superpower of talking with code.</h3>
                        <p style="font-size: 17px">
                                I've been working in Web Development from last two years. Designing a good website is my passion and writing a clean and organized code is my destination. I'm the best example of Web Developer in 
                                the use of Content Management System (CMS). I have an eye professionally designed for CSS and brain with amalgam of caffeine and Javascript. My skills reflects the passion for my industry:    
                        </p>
                        </div>
                        <div style="padding-left:380px; margin: 30px 0px 30px 0px">
                            <h4></h4>
                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="services" style="background-color: rgb(87, 64, 255);" >
                                    Skills
                            </a>
                        </div>
            </div>
        </main>
    </div>
    <% include partials/footer %>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>
