<% include partials/header %>

<body>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">About</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src=" images/about-header.jpg" border="0" alt="">
                    </div>

                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                        <p>
                            A little about me...
                        </p>
                        </div>

                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">A guy who can talk, listen and dance with code</h3>

                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                        <p>
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">My Services</h3>
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="services">
                            Skills
                        </a>
                        </p>
                        </div>
                    </div>
                </div>


            </div>

          
        </main>
    </div>
    <% include partials/footer %>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>
