<% include partials/header %>
<body>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Home</h2>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/about-header.jpg" border="0" alt="">
                </div>
        
                <div class="mdl-grid portfolio-copy">
                <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                    <p>
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Who is Simon Pawar?</h3>
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="about" style="background-color: rgb(87, 64, 255);">
                            Begin
                        </a>
                    </p>
                </div>
        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding">
            </div>
        </div>
    </div>
        
        
</div>
    </main>
</body>
<% include partials/footer %>