<% include partials/header %>

<body>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Services</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src=" images/skills.jpg" border="0" alt="">
                    </div>

                    <!-- <div class="mdl-grid portfolio-copy">
                        <h2 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Programming</h2><br />
                           <p><b>Java, JavaFX, Kotlin, Spring</b></p><br />
                        <h2 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Web development</h2><br />
                            <p><b>HTML5 & CSS3, Markdown, Bootstrap4, MaterializeCSS, PHP, MEAN.</b></p><br />
                        <h2 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Version Control</h2><br />
                            <p><b>Github, Bitbucket<b/></p><br />
                        <h2 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Version Control</h2><br />
                            <p><b>Adobe PhotoshopCS6, Adobe After Effects<b/></p><br />
                    </div> -->
                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                            <div class="mdl-tabs__tab-bar">
                                <a href="#programming-panel" class="mdl-tabs__tab is-active">Programming</a>
                                <a href="#web-panel" class="mdl-tabs__tab">Web development</a>
                                <a href="#vs-panel" class="mdl-tabs__tab">Version Control</a>
                                <a href="#designing-panel" class="mdl-tabs__tab">Designing</a>
                                <a href="#cms-panel" class="mdl-tabs__tab">CMS</a>
                            </div>
                          
                            <div class="mdl-tabs__panel is-active" id="programming-panel">
                              <ul>
                                <li>C++</li>
                                <li>C#</li>
                                <li>Java</li>
                                <li>JavaFX</li>
                                <li>Kotlin</li>
                                <li>Python</li>
                              </ul>
                            </div>
                            <div class="mdl-tabs__panel" id="web-panel">
                              <ul>
                                <li>HTML5 & CSS3</li>
                                <li>Bootstrap4 & MaterializeCSS</li>
                                <li>PHP</li>
                                <li>Javascript</li>
                                <li>MEAN Stack</li>
                                <li>ASP.NET</li>
                                <li>Laravel</li>
                              </ul>
                            </div>
                            <div class="mdl-tabs__panel" id="vs-panel">
                              <ul>
                                <li>Github</li>
                                <li>Bitbucket</li>
                              </ul>
                            </div>
                            <div class="mdl-tabs__panel" id="designing-panel">
                                <ul>
                                    <li>Adobe PhotoshopCS6</li>
                                    <li>Adobe After Effects</li>
                                </ul>
                            </div>
                            <div class="mdl-tabs__panel" id="cms-panel">
                                <ul>
                                  <li>Wordpress</li>
                                  <li>Wix</li>
                                </ul>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                        <div style="padding-left: 380px; margin: 30px 0px 30px 0px">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="projects" style="background-color: rgb(87, 64, 255);">
                            Projects
                        </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
<% include partials/footer %>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>